.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  justify-content: center;
}

.row > .column {
  padding: 10px;
}

.row-large {
  margin: -10px;
}
.row-large > .column {
  padding: 10px;
}

@media (min-width: 961px) {
  .row-large {
    margin: -40px;
  }
  .row-large > .column {
    padding: 40px;
  }
}

.row-medium {
  margin: -10px;
}
.row-medium > .column {
  padding: 10px;
}

@media (min-width: 1251px) {
  .row-medium {
    margin: -40px;
  }
  .row-medium > .column {
    padding: 40px;
  }
}

.row-medium-hero {
  margin: -20px;
}
.row-medium-hero > .column {
  padding: 20px;
}

@media (min-width: 641px) {
  .row {
    margin: -10px;
  }
}

@media (min-width: 961px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media (min-width: 1251px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
